
#kb-zone			{fill:#dfd9d9}
.key-zone			{fill:#efefee}
.special .key-zone	{fill:#e3e3e1}

svg svg{cursor:pointer}
svg text{
	font-family:Mulish,Arial,sans-serif;
	font-size:11px;
	user-select:none;
}
text.primary{font-size:14px}
text.secondary{font-size:9px}

:hover>.key-zone {fill:url(#pattern-b)}
.pattern1 .key-zone {fill:url(#pattern-a)}
.pattern2 .key-zone {fill:url(#pattern-b)}
	
.background {fill:#efefee}
.foreground-a {
	stroke:#fff5c3;
	stroke-width:3px
}
.foreground-b {
	stroke:#ffdfbe;
	stroke-width:3px
}