*{
	padding:0;
	margin:0;
	box-sizing:border-box
}

#kb-zone			{fill:#d5d5d5}
.key-zone			{fill:#efefef}
.special .key-zone	{fill:#e3e3e3}
.hotkey .key-zone	{fill:#dca}
:hover>.key-zone{stroke:#cbb}

#keyboard svg{cursor:pointer}
#keyboard text{
	font-family:Mulish,Arial,sans-serif;
	font-size:11px;
	user-select:none;
}
#keyboard text.primary{font-size:14px}
#keyboard text.secondary{font-size:9px}

#hint{
	display:none;
	position:absolute;
	background:#fff;
	width:280px;
	padding:8px;
}